@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .slant-section {
        clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
    }
}

html, * {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
} 

.dollar:before {
    position: absolute;
    content: '$';
    font-size: 15px;
    font-weight: bolder;
    top: -5px;
    left: -10px;
}

.embla-viewport {
    overflow: hidden;
}

.embla-container {
    display: flex;
}

.embla-slide {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    min-width: 0;
}